.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.introducao {
    margin-top: 200px;
    margin-bottom: 20px;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    font-family: 'Averia Serif Libre', cursive; /*alterado*/
    font-weight: bold; /*alterado*/
    color: #802392;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 6%;
    height: 15%;
    border-radius: 100%;
    background: linear-gradient(#A87BE0,#C96BDB);
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
        padding-top: 90px;
    }
    .introducao img {
        display: none;
    }
}