.contato {
    background: #FFE3DC;
}

.contato-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.contato-texto {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.33;
    color: #802392;
}

.contato-contato li {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #802392;
    margin-bottom: 30px;
}

.contato-contato li a  {
    color: #802392 ;
}

.contato-contato li a:hover  {
    color: #A87BE0;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #802392;
}

.direitos {
    background: #EF81E7;
    padding: 20px;
}

.direitos p {
    color: #050505;
    font-weight: bold;
}

@media (max-width: 800px) {
    .contato-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .contato p {
        font-size: 1rem;
    }
    .contato-contato li {
        font-size: 1.5rem;
    }
    .direitos {
        font-size: 1.5rem;
    }
}