body {
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0px;
    color: #141414;
    background-color: #FFE3DC;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}


.subtitulo {
    font-size: 7rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
    margin-top: 55px; /*adicionado*/
}

.botao {
    padding-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    clear: both;
}


.btn-top {
    background: linear-gradient(#A87BE0,#C96BDB);
    border-radius: 30px;
    padding: 10px 20px;
    color: #FFE3DC;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    /*position: absolute;*/
}

.btn-top:hover {
    color: #802392;
    background: linear-gradient(#EF81E7,#93E1D8);
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}